{% extends 'common.html' %}
{% load static %}
{% block title %}ShoppyField : Booking{% endblock title %}
{% block content %}
<div class="container">
    <div class="row" style="margin-top: 7em;width: 100%;">
        <div class="col-lg-1"></div>
        <div class="col-lg-11 col-sm-12">
            <a href="{% url 'home' %}" style="text-decoration: none;">Home /</a>
            <a href="{% url 'booking' %}" style="text-decoration: none;color: #6c757d;">Booking :</a>
        </div>
    </div>
    {% if booking %}
    {% else %}
    <div class="row" style="width: 100%;">
        <div class="col-md-1"></div>
        {% if address %}
        <div class="col-md-5 col-12">
            <div class="container" id="delvery_add">
                <div class="row">
                    <div class="col-lg-8 col-12 mt-3">
                        <h2 class="del_h2">Delivery Details :</h2>
                    </div>
                    <div class="col-lg-4 col-12">
                        <form action="change-address" method="POST">
                            {% csrf_token %}
                            <button class="ch_btn" type="submit">Change
                                Address</button>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <hr style="color: rgb(0, 0, 0);">
                    </div>
                </div>
                <div class="row">
                    {% for d in address %}
                    <div class="col-12">
                        <div class="row">
                            <div class="col-lg-6 col-6">
                                <h4 class="add_dtl">Name :</h4>
                            </div>
                            <div class="col-lg-6 col-6">
                                <h4 class="add_dtl">{{d.user_name}}</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-6">
                                <h4 class="add_dtl">Address:</h4>
                            </div>
                            <div class="col-lg-6 col-6 mb-3">
                                <h4 class="add_dtl">{{d.user_housename}} ,<br>
                                    {{d.user_pincode}}</h4>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="container" id="delvery_add">
                <div class="row">
                    <div class="col-12 mt-3">
                        <h2 class="del_h2">
                            Payment Details :</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <hr style="color: rgb(0, 0, 0);margin-top: 8px;">
                    </div>
                </div>
                {% if payment %}
                {% for d in payment %}
                <div class="row">
                    <div class="col-12" style=" margin-bottom: 15px;">
                        <h4 class="pymnt_conf"> You have selected {{d.payment_method}} as your payment method.</h4>
                        <div class="row" style="width: 100%;margin-top: 20px;">
                            <div class="col-6 d-none">
                                {% if d.payment_method == 'Cash on Delivery' %}
                                <button type="submit">Continue
                                    Shopping</button>
                            </div>
                            {% endif %}
                            {% if d.payment_method == 'Online Payment' %}
                            <h6 style="margin-top: 30px;">Online payment is currently unavailable.</h6>
                            {% endif %}
                            <div class="col-6 d-none">
                                <form action="change-payment" method="POST">
                                    {% csrf_token %}
                                    <button type="submit"
                                        style="border-color: rgb(238, 149, 16); font-weight: 500;height: 50px;width: 100%;margin-bottom: 15px;font-size: small;height: 60px;">Change
                                        Payment Method</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <div class="row">
                    <div class="col-12">
                        <form action="payment" method="POST" id="pymnt">
                            {% csrf_token %}
                            <input type="radio" id="cod" name="payment" value="Cash on Delivery">
                            <label for="cod" style=>Cash On Delivery</label>
                            <p>We only support COD for now. Select to continue.</p>
                            <div class="pymt_btn">
                                <button type="submit">Continue
                                    Payment</button>
                            </div>
                        </form>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        {% else %}
        <div class="col-md-5 col-12"
            style="border: 2px #6c757d solid;border-radius: 0.8em;margin-top: 1em;font-family: 'Times New Roman', Times, serif;" id="add_top">
            <div class="container" id="address">
                <div class="row" style="width: 100%;">
                    <div class="col-12 mt-3">
                        <h2 class="add_head">Delivery Details :</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12" style="margin-top: -8px;">
                        <hr style="color: rgb(0, 0, 0);">
                    </div>
                </div>
                <form action="address" method="POST">
                    {% csrf_token %}
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-3">
                            <label for="usersname">Name:</label>
                        </div>
                        <div class="col-9">
                            <input type="text" id="usersname" name="usersname" placeholder="Enter your name" required>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 15px;">
                        <div class="col-3">
                            <label for="usersphone">Phone Number:</label>
                        </div>

                        <div class="col-9">
                            <input type="tel" id="usersphone" name="usersphone" placeholder="Enter your phone number"
                                value="{{user.get_username}}" pattern="[0-9]{3}[0-9]{4}[0-9]{3}" required>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 15px;">
                        <div class="col-3">
                            <label for="usershouse">House no/ Building Name:</label>
                        </div>

                        <div class="col-9">
                            <input type="text" id="usershouse" name="usershouse" placeholder="Enter your House no"
                                required>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 15px;">
                        <div class="col-3">
                            <label for="usersarea">Road Name / Area / Colony:</label>
                        </div>

                        <div class="col-9">
                            <input type="text" id="usersarea" name="usersarea" placeholder="Enter your Area" required>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 15px;">
                        <div class="col-3">
                            <label for="userspincode">Pincode:</label>
                        </div>

                        <div class="col-9">
                            <input type="text" id="userspincode" name="userspincode" placeholder="Enter your pincode"
                                required>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 15px;">
                        <div class="col-3">
                            <label for="userscity">City:</label>
                        </div>

                        <div class="col-9">
                            <input type="text" id="userscity" name="userscity" placeholder="Enter your city" required>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 15px;">
                        <div class="col-3">
                            <label for="usersstate">State:</label>
                        </div>

                        <div class="col-9">
                            <div class="btn-group dropup" style="width: 100%;">
                                <select type="text" id="usersstate" name="usersstate" required>
                                    <option value="">Select your state</option>
                                    <option value="Andhra Pradesh">Andhra Pradesh</option>
                                    <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                    <option value="Assam">Assam</option>
                                    <option value="Bihar">Bihar</option>
                                    <option value="Chandigarh">Chandigarh</option>
                                    <option value="Chhattisgarh">Chhattisgarh</option>
                                    <option value="Goa">Goa</option>
                                    <option value="Gujarat">Gujarat</option>
                                    <option value="Haryana">Haryana</option>
                                    <option value="Himachal Pradesh">Himachal Pradesh</option>
                                    <option value="Jharkhand">Jharkhand</option>
                                    <option value="Karnataka">Karnataka</option>
                                    <option value="Kerala">Kerala</option>
                                    <option value="Madhya Pradesh">Madhya Pradesh</option>
                                    <option value="Maharashtra">Maharashtra</option>
                                    <option value="Manipur">Manipur</option>
                                    <option value="Meghalaya">Meghalaya</option>
                                    <option value="Mizoram">Mizoram</option>
                                    <option value="Nagaland">Nagaland</option>
                                    <option value="Odisha">Odisha</option>
                                    <option value="Punjab">Punjab</option>
                                    <option value="Rajasthan">Rajasthan</option>
                                    <option value="Sikkim">Sikkim</option>
                                    <option value="Tamil Nadu">Tamil Nadu</option>
                                    <option value="Telangana">Telangana</option>
                                    <option value="Tripura">Tripura</option>
                                    <option value="Uttar Pradesh">Uttar Pradesh</option>
                                    <option value="Uttarakhand">Uttarakhand</option>
                                    <option value="West Bengal">West Bengal</option>
                                </select>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="save_btn">
                        <button type="submit">Save</button>
                    </div>
                </form>
            </div>
        </div>
        {% endif %}
        <div class="col-md-5">
            <div class="container" id="total_prd">
                <div class="row">
                    <div class="col-12 mt-3">
                        <h2 class="ttl_head">Order
                            Details :
                        </h2>
                    </div>
                </div>
                <hr style="color: rgb(255, 255, 255);">
                <div class="row">
                    <div class="col-lg-8 col-6">
                        <h4 class="ttl_h4">Price :
                        </h4>
                    </div>
                    <div class="col-lg-4 col-6">
                        <h4 class="ttl_h4">₹ {{booking_rate}}</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-6">
                        <h4 class="ttl_h4">Quantity:
                        </h4>
                    </div>
                    <div class="col-lg-4 col-6">
                        <h4 class="ttl_h4">{{booking_quantity}}&nbsp;{% if booking_quantity == 1 %}item {% else %}
                            items{% endif %}</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-6">
                        <h4 class="ttl_h4">Delivery Charge :
                        </h4>
                    </div>
                    <div class="col-lg-4 col-6">
                        <h4 class="ttl_h4">₹ {{delivery_charge}}</h4>
                    </div>
                </div>
                <hr style="color: rgb(255, 255, 255);">
                <div class="row">
                    <div class="col-lg-8 col-6 mb-4">
                        <h4 class="ttl_h4">Total Amount:
                        </h4>
                    </div>
                    <div class="col-lg-4 col-6">
                        <h4 class="ttl_h4">₹{{totalrate}}</h4>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <p style="opacity: 70%;font-size: small;color: #6c757d;margin: 0.2em 0 0 0.3em;">Safe and Secure
                    Payments. Easy
                    returns. 100% authentic products.</p>
            </div>
        </div>
    </div>
    {% endif %}
</div>
<div class="last_btn">
    <button type="submit" data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="btn_last">Continue
        Shopping</button>
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
        data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content bg-dark">
                <div class="modal-body">
                    <p style="color: white;"> Order successfully confirmed.
                    </p>
                </div>
                <div class="modal-footer">
                    <form action="home" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-success">Home</button>
                    </form>
                    <form action="orders" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn-primary"
                            style="height: 40px;border-color: white;border-style: none;color: white;border-radius: 4px;">Orders</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}