{% extends 'common.html' %}
{% load static %}
{% block title %}ShoppyField : Orders{% endblock title %}
{% block content %}

{% if orders %}
<div class="container">
    <div class="row" style="margin-top: 20px;width: 100%;">
        {% for c in orders %}
        <div class="col-lg-2 col-sm-2"></div>
        <div class="col-lg-10 col-sm-8">
            <h3>Are you sure to cancel your order? <br> Order id : {{c.trackingid}}</h3>
        </div>
        <div class="col-lg-5 col-sm-3"></div>
        <div class="col-lg-2 col-sm-5">
            <form action="" method="POST">
                {% csrf_token %}
                <input type="hidden" class="trackingid" name="trackingid" value="{{c.trackingid}}">
                <button type="submit" class="btn btn-primary" style="width: 100%;margin-top: 30px;">
                    Cancel order
                </button>
            </form>
        </div>
        <div class="col-lg-5 col-sm-4"></div>
        <div class="col-lg-5 col-sm-4"></div>
        <div class="col-lg-2 col-sm-3">
            <a class="btn" href="{% url 'orders' %}" style="width: 100%;color: blue;text-decoration: underline;">
                Back to order
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
{% endblock %}