{% extends 'common.html' %}
{% load static %}
{% block title %}ShoppyField,Shop Ur Belly Full{% endblock title %}
{% block content %}
<div class="row" style="margin-top: 80px;width: 100%;color:  rgb(133, 133, 191);">
  <div class="col-lg-2 col-sm-1"></div>
  <div class="col-lg-6 col-sm-5">
    <img src="{% static '/images/mensimg1.jpeg' %}" class="card-img-top" alt="..." style="height: 400px;width: 100%;">
  </div>
  <div class="col-lg-2 col-sm-5">
    <h2 style="color: rgb(133, 133, 191);">Men's Apparel</h2>
    <p class="card-text" style="font-weight: 500;color: rgb(70, 68, 68);margin-top: 30px;">Men's Apparel covers all
      types of
      clothes for men like i.a. coats, (outdoor) jackets, blazers, suits, trousers, shirts, pullovers as well as
      sports- and underwear. Men's wear is a broad term that encompasses all the clothing that men wear. It includes a
      wide variety of items, such as suits, shirts, pants, jackets, ties, shoes, and accessories. Men's wear has evolved
      over time, and the styles that are popular today reflect the current trends in fashion.</p>
  </div>
  <div class="col-lg-2 col-sm-1"></div>
</div>
<div class="row" style="margin-top: 80px;width: 100%;">
  <div class="col-lg-8 col-sm-10" style="margin-left: 10px;">
    <h2 style="color:  rgb(133, 133, 191);">Categories:</h2>
  </div>
  <div class="col-lg-2 col-sm-1"></div>
</div>
<div class="row" style="width: 100%;margin-bottom: 50px;">
  {% for d in cat %}
  <div class="col-lg-2 col-sm-6" style="margin-top: 20px;">
    <div class="card-1">
      <a href="{% url 'pdtfltr' d.category_code %}" style="text-decoration: none;">
        <img class="card-img" src="{{d.cat_img.url}}" alt="..." style="height: 285px; width: 100%;">
        <h5 class="card-title" style="margin-left: 10px;">{{d.cat_name}}</h5>
      </a>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content %}