{% extends 'common2.html' %}
{% load static %}
{% block title %}Login{% endblock title %}
{% block content %}
<div class="col-lg-2 col-sm-1"></div>
<div class="col-lg-2 col-sm-4"
    style="margin-top: 50px;width: 350px;border-style:dashed;border-color:rgb(111, 111, 200);border-radius: 15px;height: 390px;">
    {% if user.is_authenticated %}
    <h3 style="text-align: center; margin-top: 90px;">Already logged in!!</h3>
    <p style="margin-top:100px; font-size: medium;text-align: center;">Back to <a href="{% url 'home' %}"> Home Page</a>
    </p>
    <p style="margin-top: -15px; font-size: medium;text-align: center;">Logout? <a href="{% url 'logout' %}">Logout</a>
    </p>
    {% else %}
    <form action="login" method="POST"
        style="margin-top: 25px;margin-bottom: 20px;font-family: Verdana, Geneva, Tahoma, sans-serif;">
        {% csrf_token %}
        <h4>Login to your account</h4>
        <div class="d-flex" style="margin-top: 10px;flex-direction: column;margin-right: 10px;">
            <label for="phone" id="username" style="margin-top: 25px;font-weight: 500; ">Mobile Number</label>
            <input type="tel" style="margin-top: 8px; " pattern="[0-9]{3}[0-9]{4}[0-9]{3}" id="phone" name="phone"  placeholder="Enter your Mobile number"
                required>
            <label for="password" style="margin-top: 25px;font-weight: 500; ">Password </label>
            <input type="password" id="password" name="password" minlength="6" style="margin-top: 8px;" maxlength="10"
                placeholder="Enter Password " required>
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible  fade show" style="margin-bottom: -45px;margin-top: -13px;margin-left: -15px;">
                <p style="font-size: small;color: red;"><b>Alert:</b> {{message}}</p>
            </div>
            {% endfor %}
            <button type="submit"
                style=" margin-top: 35px;font-weight: 500; background-color: yellow;border-style: hidden;height: 50px;width: 200px;margin-left: 55px;">Login</button>
            <p style="margin-top: 10px; font-size: medium;text-align: center;margin-bottom: 20px;">New user? <a
                    href="{% url 'signup' %}">Signup</a></p>
        </div>
    </form>
    {% endif %}
</div>
<div class="col-lg-6 col-sm-6" style="margin-top: 50px;height: 380px;">
    <img style="width: 100%;height: 390px;;border-radius: 15px;margin-left: 10px;"
        src="{% static '/images/shopimg2.jpg' %}" alt="">
</div>
<div class="col-lg-2 col-sm-1"></div>
{% endblock content %}