{% extends 'common.html' %}
{% block title %}ShoppyField : {{category_name}}{% endblock title %}
{% block content %}
<div class="row" style="margin-top: 20px;width: 100%;">
    <div class="col-12" style="margin-left: 10px;">
        <a href="{% url 'home' %}" style="text-decoration: none;">Home / </a>
        <a href="{% url 'category' %}" style="margin-left: 10px;text-decoration: none;">Category /</a>
        <a href="{% url 'pdtfltr' category_name %}"
            style="margin-left: 10px;text-decoration: none;color: black;">{{category_name}} :</a>
    </div>
</div>
<div class="row" style="margin-top: 20px;width: 100%;">
    <div class="col-12" style="margin-left: 10px;">
        <h2 style="color:  rgb(133, 133, 191);font-family: Georgia, 'Times New Roman', Times, serif;">{{category_name}}:
        </h2>
    </div>
    <div class="col-lg-2"></div>
</div>
<div class="row" style="width: 100%;margin-bottom: 50px;margin-top: -40px;">
  {% for d in products %}
  <div class="col-lg-2 col-6">
    <div class="card-1">
      <div style="margin-top: 50px;">
        <a href="{% url 'pdtdtls' d.category_code d.product_code %}" style="text-decoration: none;">
          <img class="card-img" src="{{d.prd_img.url}}" alt="..." style="height: 40vh; width: 100%;">
          <h5 class="card-title" style="margin-left: 1vw;">{{d.prd_name}}</h5>
        </a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content %}