{% extends 'common.html' %}
{% block title %}ShoppyField : {{category_name}}{% endblock title %}
{% block content %}
<div class="row" style="margin-top: 20px;width: 100%;">
    <div class="col-lg-8 col-sm-10" style="margin-left: 10px;">
        <a href="{% url 'home' %}" style="text-decoration: none;">Home / </a>
        <a href="{% url 'category' %}" style="margin-left: 10px;text-decoration: none;">Category /</a>
        <a href="{% url 'pdtfltr' category_name %}"
            style="margin-left: 10px;text-decoration: none;color: black;">{{category_name}} :</a>
    </div>
    <div class="col-lg-2"></div>
</div>
<div class="row" style="margin-top: 20px;width: 100%;">
    <div class="col-lg-8 col-sm-10" style="margin-left: 10px;">
        <h2 style="color:  rgb(133, 133, 191);font-family: Georgia, 'Times New Roman', Times, serif;">{{category_name}}:
        </h2>
    </div>
    <div class="col-lg-2"></div>
</div>
<div class="row" style="margin-top: 10px;width: 100%;">
    {% for d in products %}
    <div class="col-lg-2 col-sm-3" style="margin-left: 10px;">
        <a href="{% url 'pdtdtls' d.category_code d.product_code %}" style="text-decoration: none;">
            <div class="card card-1">
                <div class="card-body">
                    <img src="{{d.prd_img.url}}" class="card-img" alt="..." style="height: 100%;">
                    <h5 class="card-title-1">
                        {{d.prd_name}}</h5>
                    <p class="card-title-1">{{d.seller_company}}</p>
                    <h3 class="card-title-1" >₹ {{d.prd_rate}}</h3>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock content %}