{% extends "common2.html" %}
{% load static %}
{% block title %}Sellers : Home{% endblock title %}
{% block content %}
<div class="container">
    {% for i in company %}
    <h4>{{i.company_name}}</h4>
    {% endfor %}
    <div class="container">
        <div class="row" style="width: 100%;margin-bottom: 2vh;">
            <div class="col-md-6 col-12" style="margin-top: 2vh;">
                <a  href="{% url "sellers_prd" %}" style="text-decoration: none;">
                    <div class="card" style="border-radius: 3vh;border-color: rgb(255, 136, 0);border-width: 15px;">
                        <div class="card-body"
                            style="background-image: linear-gradient(rgba(218, 65, 65, 0.4), rgba(255, 255, 255, 0.2)), url('/static/images/shoesimg.jpeg');border-radius: 1vh;height: 50vh;background-position: center;flex: 1;">
                            <h3 style="margin-top: 40vh;color: rgb(255, 136, 0);">Products</h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-12" style="margin-top: 2vh;">
                <a  href="{% url "sellers_orders" %}" style="text-decoration: none;">
                    <div class="card" style="border-radius: 3vh;border-color: rgb(255, 136, 0);border-width: 15px;">
                        <div class="card-body"
                            style="background-image: linear-gradient(rgba(163, 162, 216, 0.309), rgba(31, 28, 201, 0.309)), url('/static/images/bookimg.jpg');border-radius: 1vh;height: 50vh;background-position: center;flex: 1;">
                            <h3 style="margin-top: 40vh;color: rgb(255, 136, 0);">Orders</h3>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}